@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);





#menu-17 .navbar-toggler {
  color: #000;
}
#menu-17 .nav-link {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
#menu-17 .navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}
#header1-f H1 {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  color: #0275d8;
}
#header1-f P {
  color: #fafafa;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
#header1-f SPAN {
  font-family: 'Open Sans', sans-serif;
}
#header1-f B {
  color: #cfeff6;
}


#menu-18 .navbar-toggler {
  color: #000;
}
#menu-18 .nav-link {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
#menu-18 .navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}
